body {
    max-width: 1438px;
    margin: auto;
    background: url(../image/christmas_snow_trees-wide.png) no-repeat center center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.header {
    height: 800px;
    background: #EFF0F2;
    font-family: 'Montserrat';
    mix-blend-mode: normal;
    opacity: 0.99;

    &__logo {
        margin-left: 150px;
        margin-bottom: 216.5px;

        &_span {
            color: #77efe5;
            font-size: 22px;
        }

        &_link {
            display: inline-block;
            margin-top: 36px;
            padding: 10px 5px;
            background: rgba(0, 0, 0, 0.0001);
            border: 5px solid #170F1C;
            box-sizing: border-box;
            text-decoration: none;
            font-weight: bold;
            font-size: 18px;
            line-height: 28px;
            letter-spacing: 1.02px;
            text-transform: uppercase;
            color: #000000;
        }
    }

    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        letter-spacing: 2.7px;
        text-transform: uppercase;
        color: #505050;

        &_span {
            background-color: #77efe5;
        }

        &_h1 {
            margin-bottom: 30px;
        }

    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 102px;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 2.16px;
        text-transform: uppercase;
        color: #000000;

        &_contact {
            max-width: 232px;
            padding: 14px 46px;
            background: rgba(0, 0, 0, 0.0001);
            opacity: 0.5;
            border: 2px solid #000000;
            box-sizing: border-box;
            cursor: pointer;
        }
    }
}

.about-us {
    background: #F8FAFA;
    height: 985px;

    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        margin-bottom: 109px;

        &_h1 {
            margin-top: 134px;
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            font-size: 38px;
            line-height: 28px;
            margin-bottom: 7px;
            letter-spacing: 2.28px;
            text-transform: uppercase;
            color: #000000;
        }

        &_h3 {
            font-family: 'Merriweather', serif;
            font-size: 18px;
            line-height: 28px;
            letter-spacing: 1.08px;
            text-transform: uppercase;
            color: #000000a1;
        }
    }

    &__content {
        display: flex;
        justify-content: center;

        &_image {
            max-width: 452px;
            height: 543px;
            margin-right: 126px;
        }

        &_card {
            max-width: 504px;
        }

        &_text {
            height: 256px;
            font-size: 16px;
            font-family: 'Raleway', sans-serif;
            line-height: 28px;
            letter-spacing: 0.8px;
            color: #000000a1;
        }

        &_title1 {
            margin-top: 30px;
            margin-bottom: 35px;
            font-family: 'Merriweather', serif;
            font-weight: bold;
            font-size: 20px;
            line-height: 28px;
            letter-spacing: 1.2px;
            text-transform: uppercase;
            color: #000000;
        }

        &_title2 {
            margin-bottom: 8.5px;
            font-family: 'Merriweather', serif;
            font-weight: bold;
            font-size: 17px;
            line-height: 28px;
            letter-spacing: 1.02px;
            text-transform: uppercase;
            color: #000000;
        }
    }
}

.works{
    height: 1116px;

    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        color: #000000;

        &_h1{
            margin-top: 134px;
            margin-bottom: 6.5px;
            font-family: 'Montserrat', sans-serif;
            letter-spacing: 2.28px;
            font-weight: bold;
            font-size: 38px;
            line-height: 28px;
        }

        &_h3{
            margin-bottom: 113px;
            font-family: 'Merriweather', serif;
            letter-spacing: 1.02px;
            font-size: 17px;
            line-height: 28px;
        }      
    }

    &__cards{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 12px;

        &_images{
            display: flex;
            gap: 12px;           
        }
    }
}

.team-part{
    background: #F9FBFB;

    &__span{
        font-size: 13px;
        color: #000000a1;
    }

    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        color: #000000;

        &_h1{
            margin-top: 134px;
            margin-bottom: 6.5px;
            font-family: 'Montserrat', sans-serif;
            letter-spacing: 2.28px;
            font-weight: bold;
            font-size: 38px;
            line-height: 28px;
        }

        &_h3{
            margin-bottom: 113px;
            font-family: 'Merriweather', serif;
            letter-spacing: 1.02px;
            font-size: 17px;
            line-height: 28px;
        }      
    }

    &__cards{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 12px;

        &_images{
            display: flex;
            gap: 12px;           
        }
    }

    &__rectangle{     
        background-image: url(../image/Rectangle40cop.png);
        margin-left: 6px;
        position: absolute;
        max-width: 358px;
        height: 240px;
        top: 190px;

        &_h1{
            display: flex;
            align-items: center;
            text-align: center;
            font-family: 'Merriweather', serif;
            font-weight: bold;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 1px;
            color: #272727;
            margin-bottom: 14.5px;
        }      

        &_text{
            font-family: 'Raleway';
            margin-bottom: 40px;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.16px;
            color: #000000;
        }
    }

    &__triangle{
        display: none;
        position: absolute;
        left: 20px;
        top: -10px;
    }

    &__social{
        &_link{
            padding-right: 15px;
        }
    }
}

.rectangle{
    &__content{
        display: none;
        padding-top: 30px;
        padding-left: 61px;
        padding-right: 61px;
    }
}

::placeholder {
    font-family: 'Raleway';
    font-size: 15px;
    line-height: 51px;
    color: #FFFFFF;   
}

.footer{
    &__contact{
        display: flex;
        justify-content: center;
        margin-top: 308px;
        margin-bottom: 120px;

        &_left{
            max-width: 614px;
            height: 461px;
            background: #021623;
            mix-blend-mode: normal;
            opacity: 0.71;
            box-shadow: 0px 0px 30px rgba(21, 21, 21, 0.12);
        }

        &_right{
            position: relative;
            width: 500px;
            height: 461px;
            margin-left: 30px;
            padding-left: 23px;
            background: rgba(2, 22, 35, 0.71);
            mix-blend-mode: normal;
            box-shadow: 0px 0px 3px rgba(21, 21, 21, 0.16);
        }

        &_form{
            display: flex;
            flex-direction: column;
            padding: 0px 33px 30px 31px;
        }

        &_input{
            height: 30px;
            margin-top: 30px;
            font-family: 'Raleway';
            font-size: 15px;
            line-height: 51px;
            color: #FFFFFF;   
            outline:none;
            background: #021623;              
            outline: none;
            border: none;    
            border-bottom: 1px solid white;    
            padding-bottom: 10px;
        }

        &_textarea{
            width: 550px;
            height: 105px;
            margin-top: 30px;
            font-family: 'Raleway';
            font-size: 15px;
            line-height: 51px;
            color: #FFFFFF;   
            outline:none;
            background: #021623;      
            resize: none;        
            outline: none;
            border: none;    
            border-bottom: 1px solid white;    
        }

        &_button{
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 28px;
            letter-spacing: 2.16px;
            text-transform: uppercase;
            color: #000000;
            width: 244px;
            height: 53px;
            margin-top: 38px;
            background: #6eeee4;
        }

        &_pharagraph{
            font-family: 'Raleway';
            font-size: 15px;
            line-height: 24px;
            color: #FFFFFF;
            padding-top: 23.5px;          
            margin-bottom: 20px;
        }
    }

    &__social{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        letter-spacing: 0.16px;
        font-family: 'Raleway';
        font-size: 16px;
        line-height: 25px;
        background: #262B2E;
        width: 100%;
        height: 316px;       
        color: #FFFFFF;

        &_links{
            display: flex;
            margin-top: 10px;
            gap: 10px;
        }

        &_link{
            width: 46px;
            height: 40px;
            background: #8A8A8A;
            opacity: 0.4;
        }

        &_pinterest{
            background: #6eeee4;     
            opacity: 1;       
        }

        &_img{
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
        }
    }
}
