body {
  background: url(../image/background.png) no-repeat center center;
  background-size: cover;
  background-size: 100% 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.wrapper {
  max-width: 1140px;
  height: 100%;
  margin: auto;
  padding: 0px 30px;
}

.header {
  height: 800px;
  background: #EFF0F2;
  font-family: 'Montserrat';
  mix-blend-mode: normal;
  opacity: 0.99;
}

.header__logo {
  padding-top: 63px;
  margin-bottom: 196px;
}

.header__title {
  font-family: 'Montserrat';
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 45px;
  line-height: 28px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  color: #505050;
}

.header__headlines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.header__span {
  display: inline-block;
  padding: 10px;
  background-color: #77efe5;
}

.header__img {
  position: absolute;
  left: 519px;
  top: 30px;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  max-width: 233px;
  margin: auto;
  margin-top: 132px;
  font-size: 18px;
  color: #000000;
}

.button__contact {
  max-width: 233px;
  padding: 11px 46px;
  line-height: 28px;
  letter-spacing: 1.16px;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.0001);
  opacity: 0.5;
  border: 2px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

.button__contact:hover {
  opacity: 1;
}

.about-us {
  background: #F8FAFA;
  height: 100%;
}

.about-us__titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 109px;
}

.about-us__title {
  margin-top: 134px;
  padding-left: 23px;
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 38px;
  line-height: 28px;
  margin-bottom: 11px;
  letter-spacing: 2.28px;
  text-transform: uppercase;
  color: #000000;
}

.about-us__subtitle {
  font-family: 'Merriweather';
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 1.08px;
  text-transform: uppercase;
  color: #000000a1;
}

.about-us__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 80px;
  margin-top: 140px;
}

.about-us__image {
  -webkit-box-shadow: 0 0 10px 5px #dddddd;
          box-shadow: 0 0 10px 5px #dddddd;
  max-width: 393px;
  height: 484px;
}

.about-us__card {
  max-width: 504px;
}

.about-us__cardTitle {
  margin-bottom: 19px;
  font-family: 'Merriweather';
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  color: #000000;
}

.about-us__cardSubtitle {
  margin-bottom: 11.5px;
  font-family: 'Merriweather';
  font-weight: bold;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: 1.02px;
  text-transform: uppercase;
  color: #000000;
}

.about-us__text {
  height: 254px;
  font-size: 16px;
  font-family: 'Raleway';
  line-height: 28px;
  letter-spacing: 0.8px;
  color: #000000a1;
}

.works__titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 182px;
  text-transform: uppercase;
  color: #000000;
}

.works__title {
  padding-left: 41px;
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 38px;
  line-height: 28px;
  margin-bottom: 11px;
  letter-spacing: 2.28px;
  text-transform: uppercase;
  color: #000000;
}

.works__subtitle {
  margin-bottom: 115px;
  font-family: 'Merriweather';
  font-size: 17px;
  line-height: 28px;
  letter-spacing: 1.08px;
  text-transform: uppercase;
  color: #000000a1;
}

.works__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 127px;
  gap: 14px;
}

.work-img {
  cursor: pointer;
}

.team-part {
  background: #F9FBFB;
}

.team-part__span {
  display: inline-block;
  padding-left: 9px;
  font-size: 13px;
  color: #000000a1;
}

.team-part__titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.team-part__title {
  margin-top: 100px;
  margin-bottom: 6.5px;
  font-family: 'Montserrat';
  letter-spacing: 2.28px;
  font-weight: bold;
  font-size: 38px;
  line-height: 28px;
}

.team-part__subtitle {
  margin-bottom: 113px;
  font-family: 'Merriweather';
  letter-spacing: 1.02px;
  font-size: 17px;
  line-height: 28px;
  color: #000000a1;
}

.team-part__cards {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 14px;
  padding-bottom: 30px;
}

.rectangle__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-family: 'Merriweather';
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1px;
  color: #272727;
  margin-top: 40px;
  margin-left: 40px;
}

.rectangle__text {
  font-family: 'Raleway';
  margin-bottom: 33px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.16px;
  color: #000000;
  margin-top: 16px;
  margin-left: 40px;
  padding-right: 10px;
}

.man-card {
  position: relative;
  cursor: pointer;
}

.man-card:hover .card-info {
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
}

.card-info {
  opacity: 0;
  position: absolute;
  top: 188px;
  left: 16px;
  margin: auto;
  width: 336px;
  height: 242px;
  background-color: #6eeee4;
}

.card-info__social {
  margin-left: 40px;
}

.card-info__link {
  padding-right: 10px;
}

.card-info__link:hover {
  opacity: 0.4;
}

.card-info:before {
  content: '';
  position: absolute;
  left: 21px;
  top: -30px;
  border: 13px solid transparent;
  border-bottom: 20px solid #6eeee4;
}

::-webkit-input-placeholder {
  font-family: 'Raleway';
  font-size: 15px;
  line-height: 51px;
  color: #FFFFFF;
}

:-ms-input-placeholder {
  font-family: 'Raleway';
  font-size: 15px;
  line-height: 51px;
  color: #FFFFFF;
}

::-ms-input-placeholder {
  font-family: 'Raleway';
  font-size: 15px;
  line-height: 51px;
  color: #FFFFFF;
}

::placeholder {
  font-family: 'Raleway';
  font-size: 15px;
  line-height: 51px;
  color: #FFFFFF;
}

.footer {
  background: #262B2E;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 316px;
  color: #FFFFFF;
}

.footer__social_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  gap: 8px;
}

.footer__link {
  width: 46px;
  height: 40px;
  font-size: 20px;
  text-align: center;
  line-height: 2;
  background: #8A8A8A;
  color: #bbb8b9;
  opacity: 0.4;
}

.footer__link:hover {
  color: #000000;
  background: #6eeee4;
  opacity: 1;
}

.footer__title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.16px;
  color: #FFFFFF;
  margin-top: 86px;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 272px;
  margin-bottom: 120px;
}

.contact__left {
  max-width: 614px;
  height: 461px;
  background: #021623;
  mix-blend-mode: normal;
  opacity: 0.71;
  -webkit-box-shadow: 0px 0px 30px rgba(21, 21, 21, 0.12);
          box-shadow: 0px 0px 30px rgba(21, 21, 21, 0.12);
}

.contact__right {
  position: relative;
  width: 499px;
  height: 463px;
  margin-left: 23px;
  background: rgba(2, 22, 35, 0.71);
  mix-blend-mode: normal;
  -webkit-box-shadow: 0px 0px 3px rgba(21, 21, 21, 0.16);
          box-shadow: 0px 0px 3px rgba(21, 21, 21, 0.16);
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 14px 33px 30px 31px;
}

.contact__info {
  font-family: 'Raleway';
  font-size: 15px;
  line-height: 24px;
  color: #FFFFFF;
  padding-top: 30px;
  margin-bottom: 20px;
  padding-left: 30px;
}

.form__input {
  height: 30px;
  padding-top: 27px;
  padding-bottom: 2px;
  font-family: 'Raleway';
  font-size: 15px;
  line-height: 51px;
  color: #FFFFFF;
  outline: none;
  background: #021623;
  outline: none;
  border: none;
  border-bottom: 1px solid white;
}

.form__textarea {
  width: 550px;
  height: 105px;
  margin-top: 13px;
  font-family: 'Raleway';
  font-size: 15px;
  line-height: 51px;
  color: #FFFFFF;
  outline: none;
  background: #021623;
  resize: none;
  outline: none;
  border: none;
  border-bottom: 1px solid white;
  padding-bottom: 19px;
}

.form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 2.16px;
  border: none;
  text-transform: uppercase;
  color: #000000;
  width: 241px;
  height: 53px;
  margin-top: 38px;
  background: #6EEEE4;
}

.form__button:hover {
  background: #18cebf;
}

.y-map {
  width: 455px;
  padding-left: 22px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 50%;
  max-width: 700px;
}

.modal-content {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 1301px) {
  .first-man {
    display: none;
  }
  .first-work {
    display: none;
  }
  .contact__left {
    width: 414px;
  }
  .contact__right {
    width: 300px;
  }
  .form__textarea {
    width: 350px;
  }
  .y-map {
    width: 255px;
  }
  .about-us__content {
    gap: 0px;
  }
}

@media screen and (max-width: 1200px) {
  body {
    background-size: cover;
  }
  .header__img {
    left: 434px;
  }
}

@media screen and (max-width: 1100px) {
  .about-us__text {
    font-size: 14px;
    line-height: 24px;
  }
  .about-us__image {
    width: 363px;
  }
  .about-us__card {
    width: 384px;
  }
  .about-us__content {
    gap: 0px;
  }
  .header__title {
    font-size: 38px;
  }
}

@media screen and (max-width: 790px) {
  .about-us__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 50px;
  }
  .about-us__cardTitle {
    margin-top: 30px;
  }
  .about-us__image {
    height: 322px;
  }
  .about-us__titles {
    margin-bottom: 15px;
  }
  .about-usabout-us__card {
    width: 504px;
  }
  .about-us__title {
    margin-top: 80px;
  }
  .card-info {
    display: none;
  }
  .header__img {
    left: 375px;
  }
}

@media screen and (max-width: 770px) {
  .man-img {
    width: 250px;
  }
  .team-part__title {
    margin-top: 80px;
    font-size: 30px;
  }
  .works {
    height: 100%;
  }
  .work-img {
    width: 250px;
  }
  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 80px;
    margin-bottom: 60px;
  }
  .contact__right {
    margin-left: 0;
    margin-top: 15px;
    width: 70%;
  }
  .contact__left {
    width: 70%;
  }
  .header__img {
    display: none;
  }
  .form__textarea {
    width: 100%;
  }
  .y-map {
    width: 90%;
  }
}

@media screen and (max-width: 570px) {
  .header__title {
    font-size: 30px;
  }
  .works__title {
    padding-left: 0;
  }
  .man-img {
    width: 200px;
  }
  .work-img {
    width: 200px;
  }
  .works__subtitle {
    margin-bottom: 50px;
  }
  .works__title {
    font-size: 30px;
  }
  .form__button {
    width: 100%;
  }
  .about-us {
    height: 1100px;
  }
  .about-us__subtitle {
    font-size: 16px;
  }
  .about-us__card {
    width: 288px;
  }
  .about-us__text {
    padding-left: 0px;
    height: 290px;
  }
  .about-us__title {
    font-size: 30px;
  }
  .about-us__cardTitle {
    padding-left: 0;
  }
  .about-us__cardSubtitle {
    padding-left: 0;
  }
  .about-us__image {
    width: 300px;
  }
  .y-map {
    width: 85%;
  }
}

@media screen and (max-width: 400px) {
  .contact__right {
    height: 507px;
  }
  .contact__info {
    font-size: 13PX;
  }
}
/*# sourceMappingURL=style.css.map */