body {
  background: url(../image/christmas_snow_trees-wide.png) no-repeat center center;
  background-size: cover;
  background-size: 100% 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.wrapper {
  max-width: 1438px;
  margin: auto;
}

.header {
  height: 800px;
  background: #EFF0F2;
  font-family: 'Montserrat';
  mix-blend-mode: normal;
  opacity: 0.99;
}

.header__logo {
  margin-left: 149px;
  padding-top: 63px;
  margin-bottom: 196px;
}

.header__title {
  font-family: 'Montserrat';
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 45px;
  line-height: 28px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  color: #505050;
}

.header__headlines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.header__span {
  display: inline-block;
  padding: 10px;
  background-color: #77efe5;
}

.header__img {
  position: absolute;
  left: 519px;
  top: 30px;
}

.header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  max-width: 233px;
  margin: auto;
  margin-top: 132px;
  font-size: 18px;
  color: #000000;
}

.header__button_contact {
  max-width: 233px;
  padding: 11px 46px;
  line-height: 28px;
  letter-spacing: 1.16px;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.0001);
  opacity: 0.5;
  border: 2px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

.header__button_contact:hover {
  opacity: 1;
}

.about-us {
  background: #F8FAFA;
  height: 985px;
}

.about-us__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 109px;
}

.about-us__title_h1 {
  margin-top: 134px;
  padding-left: 23px;
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 38px;
  line-height: 28px;
  margin-bottom: 11px;
  letter-spacing: 2.28px;
  text-transform: uppercase;
  color: #000000;
}

.about-us__title_h3 {
  font-family: 'Merriweather';
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 1.08px;
  text-transform: uppercase;
  color: #000000a1;
}

.about-us__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 80px;
}

.about-us__content_image {
  max-width: 452px;
  height: 543px;
}

.about-us__content_card {
  max-width: 504px;
}

.about-us__content_text {
  height: 254px;
  padding-left: 44px;
  font-size: 16px;
  font-family: 'Raleway';
  line-height: 28px;
  letter-spacing: 0.8px;
  color: #000000a1;
}

.about-us__content_title1 {
  margin-top: 30px;
  margin-bottom: 19px;
  padding-left: 44px;
  font-family: 'Merriweather';
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #000000;
}

.about-us__content_title2 {
  margin-bottom: 11.5px;
  padding-left: 44px;
  font-family: 'Merriweather';
  font-weight: bold;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: 1.02px;
  text-transform: uppercase;
  color: #000000;
}

.works {
  height: 1116px;
}

.works__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.works__title_h1 {
  margin-top: 134px;
  margin-bottom: 6.5px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2.28px;
  font-weight: bold;
  font-size: 38px;
  line-height: 28px;
}

.works__title_h3 {
  margin-bottom: 118px;
  font-family: 'Merriweather', serif;
  letter-spacing: 1.02px;
  font-size: 17px;
  line-height: 28px;
}

.works__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 12px;
}

.works__cards_images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.team-part {
  background: #F9FBFB;
}

.team-part__span {
  display: inline-block;
  padding-left: 9px;
  font-size: 13px;
  color: #000000a1;
}

.team-part__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.team-part__title_h1 {
  margin-top: 154px;
  margin-bottom: 6.5px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2.28px;
  font-weight: bold;
  font-size: 38px;
  line-height: 28px;
}

.team-part__title_h3 {
  margin-bottom: 113px;
  font-family: 'Merriweather', serif;
  letter-spacing: 1.02px;
  font-size: 17px;
  line-height: 28px;
}

.team-part__cards {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 12px;
}

.team-part__cards_images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

.team-part__rectangle_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-family: 'Merriweather';
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1px;
  color: #272727;
  margin-top: 40px;
  margin-left: 40px;
}

.team-part__rectangle_text {
  font-family: 'Raleway';
  margin-bottom: 33px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.16px;
  color: #000000;
  margin-top: 16px;
  margin-left: 40px;
  padding-right: 10px;
}

.team-part__social {
  margin-left: 40px;
}

.team-part__social_link {
  padding-right: 10px;
}

.team-part__social_link:hover {
  opacity: 0.4;
}

.man-card {
  position: relative;
}

.man-card:hover .card-info {
  display: block;
}

.card-info {
  display: none;
  position: absolute;
  top: 188px;
  left: 16px;
  margin: auto;
  width: 336px;
  height: 242px;
  background-color: #6eeee4;
}

.card-info:before {
  content: '';
  position: absolute;
  left: 21px;
  top: -30px;
  border: 13px solid transparent;
  border-bottom: 20px solid #6eeee4;
}

::-webkit-input-placeholder {
  font-family: 'Raleway';
  font-size: 15px;
  line-height: 51px;
  color: #FFFFFF;
}

:-ms-input-placeholder {
  font-family: 'Raleway';
  font-size: 15px;
  line-height: 51px;
  color: #FFFFFF;
}

::-ms-input-placeholder {
  font-family: 'Raleway';
  font-size: 15px;
  line-height: 51px;
  color: #FFFFFF;
}

::placeholder {
  font-family: 'Raleway';
  font-size: 15px;
  line-height: 51px;
  color: #FFFFFF;
}

.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 308px;
  margin-bottom: 120px;
}

.footer__contact_left {
  max-width: 614px;
  height: 461px;
  background: #021623;
  mix-blend-mode: normal;
  opacity: 0.71;
  -webkit-box-shadow: 0px 0px 30px rgba(21, 21, 21, 0.12);
          box-shadow: 0px 0px 30px rgba(21, 21, 21, 0.12);
}

.footer__contact_right {
  position: relative;
  width: 499px;
  height: 463px;
  margin-left: 23px;
  background: rgba(2, 22, 35, 0.71);
  mix-blend-mode: normal;
  -webkit-box-shadow: 0px 0px 3px rgba(21, 21, 21, 0.16);
          box-shadow: 0px 0px 3px rgba(21, 21, 21, 0.16);
}

.footer__contact_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 14px 33px 30px 31px;
}

.footer__contact_input {
  height: 30px;
  padding-top: 27px;
  padding-bottom: 2px;
  font-family: 'Raleway';
  font-size: 15px;
  line-height: 51px;
  color: #FFFFFF;
  outline: none;
  background: #021623;
  outline: none;
  border: none;
  border-bottom: 1px solid white;
}

.footer__contact_textarea {
  width: 550px;
  height: 105px;
  margin-top: 13px;
  font-family: 'Raleway';
  font-size: 15px;
  line-height: 51px;
  color: #FFFFFF;
  outline: none;
  background: #021623;
  resize: none;
  outline: none;
  border: none;
  border-bottom: 1px solid white;
  padding-bottom: 19px;
}

.footer__contact_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 2.16px;
  border: none;
  text-transform: uppercase;
  color: #000000;
  width: 241px;
  height: 53px;
  margin-top: 38px;
  background: #6EEEE4;
}

.footer__contact_button:hover {
  background: #18cebf;
}

.footer__contact_pharagraph {
  font-family: 'Raleway';
  font-size: 15px;
  line-height: 24px;
  color: #FFFFFF;
  padding-top: 30px;
  margin-bottom: 20px;
  padding-left: 30px;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #262B2E;
  width: 100%;
  height: 316px;
  color: #FFFFFF;
}

.footer__social_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  gap: 8px;
}

.footer__social_link {
  width: 46px;
  height: 40px;
  background: #8A8A8A;
  opacity: 0.4;
}

.footer__social_link:hover {
  background: #6eeee4;
  opacity: 1;
}

.footer__social_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.footer__title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.16px;
  color: #FFFFFF;
  margin-top: 86px;
}

.y-map {
  width: 455px;
  padding-left: 22px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 50%;
  max-width: 700px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 1301px) {
  .first-man {
    display: none;
  }
  .first-work {
    display: none;
  }
  .footer__contact_left {
    width: 414px;
  }
  .footer__contact_textarea {
    width: 350px;
  }
  .footer__contact_right {
    width: 300px;
  }
  .y-map {
    width: 255px;
  }
  .about-us__content {
    gap: 0px;
  }
}

@media screen and (max-width: 1200px) {
  body {
    background-size: cover;
  }
  .header__img {
    left: 434px;
  }
}

@media screen and (max-width: 1100px) {
  .about-us__content_text {
    font-size: 14px;
    line-height: 24px;
  }
  .header__title {
    font-size: 38px;
  }
  .about-us__content_image {
    width: 363px;
  }
  .about-us__content_card {
    width: 384px;
  }
  .about-us__content {
    gap: 0px;
  }
}

@media screen and (max-width: 790px) {
  .about-us__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__img {
    left: 375px;
  }
  .about-us__content_image {
    height: 322px;
  }
  .about-us__title {
    margin-bottom: 15px;
  }
  .about-us__content_card {
    width: 504px;
  }
  .about-us__title_h1 {
    margin-top: 80px;
  }
}

@media screen and (max-width: 770px) {
  .man-img {
    width: 250px;
  }
  .team-part__title_h1 {
    margin-top: 80px;
  }
  .works {
    height: 900px;
  }
  .work-img {
    width: 250px;
  }
  .footer__contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 80px;
    margin-bottom: 60px;
  }
  .footer__contact_right {
    margin-left: 0;
    margin-top: 15px;
    width: 70%;
  }
  .footer__contact_left {
    width: 70%;
  }
  .header__img {
    display: none;
  }
  .footer__contact_textarea {
    width: 100%;
  }
  .y-map {
    width: 90%;
  }
}

@media screen and (max-width: 570px) {
  .header__title {
    font-size: 30px;
  }
  .works__title_h3 {
    margin-bottom: 50px;
  }
  .us__title_h3 {
    font-size: 16px;
  }
  .man-img {
    width: 150px;
  }
  .work-img {
    width: 150px;
  }
  .works {
    height: 730px;
  }
  .footer__contact_button {
    width: 100%;
  }
  .about-us {
    height: 1100px;
  }
  .about-us__content_card {
    width: 288px;
  }
  .about-us__content_text {
    padding-left: 0px;
    height: 290px;
  }
  .about-us__title_h1 {
    font-size: 30px;
  }
  .works__title_h1 {
    font-size: 30px;
  }
  .about-us__content_title1 {
    padding-left: 0;
  }
  .about-us__content_title2 {
    padding-left: 0;
  }
  .y-map {
    width: 85%;
  }
  .about-us__content_image {
    width: 300px;
  }
}

@media screen and (max-width: 340px) {
  .footer__contact_right {
    height: 507px;
  }
}
/*# sourceMappingURL=style.css.map */